<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/simulation']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">SIMULATION</a>
  <a [routerLink]="['/tasks']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">TASKS</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
</nav>
