<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="../../../node_modules/systemjs/dist/system.src.js"></script>
  <script src="../../../node_modules/socket.io-client/socket.io.js"></script>

  <!--ag-grid-->
    <script src="../../../node_modules/ag-grid/dist/ag-grid.js"></script>
  <!-- inject:css -->
    <link href="../../../node_modules/ag-grid/dist/styles/ag-grid.css" rel="stylesheet" />
    <link href="../../../node_modules/ag-grid/dist/styles/theme-fresh.css" rel="stylesheet" />
  <!-- endinject -->

  <script>
        System.config({
            packages: {'app': {defaultExtension: 'js'}}
        });
        System.import("angular2/angular2").then(function(ng2) {
            ag.grid.initialiseAgGridWithAngular2(ng2);
        });
        System.import('app/bootstrap')
                .catch(console.log.bind(console));
    </script>
</head>
<body>

  <sd-app>Loading...</sd-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/ovintu/rts/issues');
    });
  </script>
  <% } %>

</body>
</html>
